@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --bgSecondary: 0 0% 97.65%;  
    --foreground: 222.2 84% 4.9%;

    --grayFont: 0 0% 35%;
    --graySecondary: 0 0% 66%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 213 92% 54%;
    --primary-foreground: 210 40% 98%;
    --primary-background: 210 100% 98%;
 
    --secondary: 212 85% 36%;
    --secondary-foreground: 213 92% 54%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 80%;
    --borderBooking: 85 54% 51%;
    --borderForm: 0 0% 58%;
    --borderGray: 0 0% 89%;
    --borderMenu: 212.45 80% 61%;

    --input: 0 0% 80%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}